*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(kepek/footer/body.png);
    color: #333;
    line-height: 1.6;
}
header{
    background: url('kepek/footer/header.png');
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 5px solid #0000006b;
}
header h1{
    position: relative;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
nav{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a{
    color: #ffffff;
    background-color: #0000006b;
    border-radius: 10px;
    margin:5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
nav a:hover{
    transform: scale(1.1);
    color: #09bdc7;
    background-color: #0000008c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
main{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
article{
    margin-bottom: 20px;
}
.cards, .teacher-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 900px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: appear 0.5s forwards;
}
.card, .teacher-card{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0000006b;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(0) scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
 .teacher-card:hover{
    transform: translateY(0) scale(1.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card, .teacher-card img{
    width: 100%;
    height: auto;
}
.card .tartalom{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 15px;
}
.card .kep img{
    width: 100%;
    height: auto;
}
.card, .teacher-card h2{
    padding: 5px;
    margin-bottom: 10px;
    color: #35424a;
}
.card, .teacher-card- p{
    margin-bottom: 15px;
}
.teacher-card .tartalom{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.comments{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 900px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 30px;
}
.comment_card{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0000006b;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.comment_card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.comment_card h3{
    margin-bottom: 5px;
    color: #35424a;
}
.comment_card p{
    margin: 0;
}

footer{
    background: url('kepek/footer/header.png');
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
    border-top: 5px solid #0000006b;
}
footer .credit h3{
    margin-bottom: 5px;
    font-size: 24px;
}
footer .credit p{
    margin: 0;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
footer .credit p:hover{
    color: #09bdc7;
    transition: color 0.3s ease;
    text-decoration: underline;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 900px;
    margin: auto;
    background-color: #0000006b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.footer-content .links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}
.footer-content .links .sponsor{
    color: #ffffff;
    background-color: #0000006b;
    border-radius: 10px;
    margin:5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.footer-content .links .sponsor a{
    text-decoration: none;
    color: inherit;
}
.footer-content .links .sponsor:hover{
    transform: scale(1.1);
    color: #09bdc7;
    background-color: #0000008c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}
.footer-content img{
    width: 50px;
    height: auto;
}
@media (max-width: 800px){
    .cards{
        grid-template-columns: 1fr;
    }
    .teacher-cards{
        grid-template-columns: 1fr;
    }
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .footer-content{
        grid-template-columns: 1fr 1fr;
    }
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card:nth-child(1) { animation-delay: 0s;}
.card:nth-child(2) { animation-delay: 0.2s; }
.card:nth-child(3) { animation-delay: 0.4s; }
