*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e8e5;
    color: #333;
    line-height: 1.6;
}
header{
    background-color: #00848b;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 5px solid #0000006b;
}
header h1{
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a{
    color: #ffffff;
    background-color: #0000006b;
    border-radius: 10px;
    margin:5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
nav a:hover{
    transform: scale(1.1);
    color: #09bdc7;
    background-color: #0000008c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
main{
    padding: 20px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card{
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #0000006b;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 520px;
    max-width: 600px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card .tartalom{
    padding: 15px;
}
.card h2{
    margin-bottom: 10px;
    color: #35424a;
}
.card p{
    margin-bottom: 15px;
}

.comment_card{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0000006b;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.comment_card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.comment_card h3{
    margin-bottom: 5px;
    color: #35424a;
}
.comment_card p{
    margin: 0;
}

footer{
    background-color: #00848b;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 5px solid #0000006b;
}
footer .credit h3{
    margin-bottom: 5px;
}
footer .credit p{
    margin: 0;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
    padding: 10px;
    max-width: 500px;
    margin: auto;
}
.footer-content .links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}
.footer-content .links a{
    color: #ffffff;
    text-decoration: none;
}
.footer-content .links a:hover{
    text-decoration: underline;
}
.footer-content img{
    max-width: 30px;
    max-height: 30px;
}